html, body {
  font-family: "Raleway";
  height: 100%;
  margin: 0;
  background: #323232; }

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.simon {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  width: 500px;
  justify-content: center;
  align-items: center; }

.controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 50%;
  text-align: center; }

.counter {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 5px;
  background: #323232;
  border-radius: 5px; }

#gameCounter {
  padding-top: 5px;
  color: white;
  font-family: 'Exo 2', sans-serif; }

.start {
  font-family: "Raleway";
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background: #323232;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 7.5px; }

#startGame {
  color: #c8c8c8; }

.start:hover {
  cursor: pointer;
  background: darkgrey; }

button:focus {
  outline: none; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

#switchLeft {
  margin-right: 5px; }

#switchRight {
  margin-left: 5px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .sliderLeft {
  background-color: #656AF7; }

input:focus + .sliderLeft {
  box-shadow: 0 0 1px #656AF7; }

input:checked + .sliderRight {
  background-color: #FF5252; }

input:focus + .sliderRight {
  box-shadow: 0 0 1px #FF5252; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.labels {
  margin-top: -15px;
  padding: 0;
  font-size: 13px; }

.onOff {
  margin-right: -5px;
  margin-left: 10px; }

.strict {
  margin-left: 30px; }

.row {
  width: 580px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }

.container {
  width: 250px;
  height: 250px; }

.green {
  border-top-left-radius: 100%;
  background: #34A853; }

.red {
  border-top-right-radius: 100%;
  background: #d73737; }

.blue {
  border-bottom-right-radius: 100%;
  background: #3961b9; }

.yellow {
  border-bottom-left-radius: 100%;
  background: #f4d81d; }

#green:hover, #red:hover, #blue:hover, #yellow:hover {
  cursor: pointer; }

.clickedGreen {
  background: #6ad86d; }

.clickedRed {
  background: #fd2333; }

.clickedYellow {
  background: #ffe640; }

.clickedBlue {
  background: #1c8af4; }

.greenWinner {
  background: #ffd425; }

.redWinner {
  background: #ffd425; }

.yellowWinner {
  background: #ffd425; }

.blueWinner {
  background: #ffd425; }

.greenLoser {
  background: #830015; }

.redLoser {
  background: #830015; }

.yellowLoser {
  background: #830015; }

.blueLoser {
  background: #830015; }
